.default-swiper {
  &.swiper-horizontal > .swiper-pagination-bullets {
    position: relative !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .swiper-pagination-bullet {
    @apply border-primary border-2 #{!important};
    width: 13px !important;
    height: 13px !important;
    margin-left: 8px !important;
    background: none !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    @apply bg-primary #{!important};
    width: 16px !important;
    height: 16px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: calc(50%);
    position: absolute;
    opacity: 0;
    z-index: 10;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #e6f6ec;
    @apply bg-primary-100 text-primary #{!important};
    //color: #16A75C;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev {
    left: 3px !important;
  }

  .swiper-button-next {
    right: 3px !important;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    @apply bg-primary-50 text-primary-200 #{!important};
    opacity: 0 !important;
    cursor: auto !important;
    pointer-events: none !important;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none !important;
  }
}

.default-swiper:hover {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 1 !important;
  }
}

.aplikasi-featured-swiper {
  &.swiper-horizontal > .swiper-pagination-bullets {
    position: relative !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .swiper-pagination-bullet {
    @apply border-primary border-2 #{!important};
    width: 13px !important;
    height: 13px !important;
    margin-left: 8px !important;
    background: none !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    @apply bg-primary #{!important};
    width: 16px !important;
    height: 16px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: calc(100% - 20px);
    position: absolute;
    opacity: 0;
    z-index: 10;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #e6f6ec;
    @apply bg-primary-100 text-primary #{!important};
    //color: #16A75C;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev {
    left: 3px !important;
  }

  .swiper-button-next {
    right: 3px !important;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    @apply bg-primary-50 text-primary-200 #{!important};
    opacity: 0 !important;
    cursor: auto !important;
    pointer-events: none !important;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none !important;
  }
}

.aplikasi-featured-swiper:hover {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 1 !important;
  }
}
